.about {
  &__content {
    margin: 41px auto 150px;

    max-width: 1180px;

    @include titleSize {
      margin: 68px auto 150px;
    }
  }

  &__paragraph {
    margin: 0 auto 49px;

    max-width: 300px;
    text-align: center;
    line-height: 27px;
    color: rgba(69, 88, 128, 0.5);

    @include titleSize {
      max-width: 560px;
    }
  }

  &__clients {
    margin: 0 auto 80px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
    
    @include onMobile {
      margin: 0 auto 121px;
    }

    @include menuTop {
      margin-bottom: 162px;
    }

    &--netflix {
      width: 110px;
      height: 34px;
    }

    &--drawkit {
      width: 95px;
      height: 33px;
    }

    &--figma {
      width: 80px;
      height: 34px;
    }

    &--cinemax {
      width: 174px;
      height: 33px;
    }

    &--stripe {
      width: 115px;
      height: 33px;
    }

    &--google {
      width: 102px;
      height: 34px;
    }

    &--disney {
      width: 71px;
      height: 34px;
    }
  }

  &__title {
    margin: 0 auto 126px;

    max-width: 350px;
    text-align: center;

    @include title1;

    @include titleSize {
      line-height: 163%;
    }

    @include onTablet {
      max-width: 460px;

      @include title1Mobile;
    }
  }
}
