.columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

  margin: 0 auto;

  max-width: $notebook-screen;

  &__resources {
    justify-self: end;
  }

  @media (max-width: 800px) {
    flex-basis: 50%;

    &__pages {
      display: none;
    }

    &__demos {
      display: none;
    }
  }

  @media (max-width: 500px) {

    &__info {
      display: none;
    }

    &__resources {
      text-align: center;
    }
  }
}
