.column {

  &__info {
    &-logo {
      padding-top: 25px;
    }

    &-text {
      @include description;
      width: 310px;
    }
  }

  &__title {
    @include heading;
    font-size: 22px;
    text-align: left;
  }

  &__list {
    padding-left: 0;

    &-item {
      list-style: none;
      padding-bottom: 10px;
    }

    &-link {
      @include description;
      text-decoration: none;
      padding-top: 0;
    }
  }

  @media (max-width: 500px) {

    &__title {
      text-align: center;
    }
  }
}
