.header {
  max-height: 960px;
  background: linear-gradient(
    180deg, #fff 0%, #f2f9ff 100%);

  &__mobile-nav {
    position: fixed;
    padding:40px 0 0 105px;
    height: 100%;
    min-height: 260px;
    width: 90vw;
    background: #d9e5f0;
    z-index: 7;

    top: 0;
    left: 0;

    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 1180px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    min-height: 80px;

    &--container {
      display: flex;
      align-items: center;
    }

    &--mobile {
      &-link {
        margin: 0 0 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2px;

        @include menuTop {
          display: none;
        }
      }

      &-item {
        width: 20px;
        height: 2px;
        background: $c-title;
        border-radius: 2px;
      }
    }

    &--close-link {
      margin: 0 0 30px;

      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: start;

      &-1 {
        position: absolute;
        transform: rotate(45deg);
      }

      &-2 {
        transform: rotate(-45deg);
      }

    }
  }

  &__section {
    padding: 117px 0 0;
    max-height: 878px;

    @include minTitleSize {
      padding: 156px 0 0;
    }

    @include onMobile {
      padding: 144px 0 0;
    }
  }

  &__title {
    margin: 0 auto 27px;

    text-align: center;

    @include title1;

    @include onMobile {
      @include title1Mobile;
    }

    @include titleSize {
      max-width: 560px;
    }

    @include onTablet {
      @include title1Tablet;
    }
  }

  &__paragraph {
    margin: 0 auto 29px;

    text-align: center;
    max-width: 307px;
    line-height: 150%;

    @include paragraph;

    @include onMobile {
      max-width: 560px;
    }
  }

  &__buttons {
    margin: 0 0 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
  }

  &__button {
    &--blue {
      width: 148px;
      height: 50px;
      line-height: 100%;
    }

    &--white {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 50px;
      line-height: 50px;
      color: $c-paragraph;
      background-color: $c-white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      border-radius: 100px;
    }
  }

  &__image {
    &--1 {
      margin: 0 0 12px;

      line-height: 100%;

      @include onTablet {
        margin-left: 5.3%;
      }

      @include onLaptop {
        margin-left: 132px;
      }
    }

    &--triangle {
      width: 66px;
      height: 71px;
    }

    &--2 {
      margin: 0 0 47px;

      text-align: right;
      line-height: 100%;

      @include onTablet {
        margin-right: 4.9%;
      }

      @include onLaptop {
        margin-right: 128px;
      }
    }

    &--ellipse2 {
      width: 32px;
      height: 32px;
    }

    &--3 {
      position: relative;

      margin: 0 0 6px;

      width: 56px;
      height: 56px;
      z-index: 1;
      line-height: 100%;

      @include onTablet {
        margin-left: 12%;
      }

      @include onLaptop {
        margin-left: 206px;
      }
    }

    &--image1 {
      width: 38px;
      height: 38px;
      border-radius: 50%;

      @include titleSize {
        width: 56px;
        height: 56px;
      }
    }

    &--4 {
      margin: 0 0 5px;
      
      text-align: right;
      line-height: 100%;

      @include onTablet {
        margin-right: 10.6%;
      }

      @include onLaptop {
        margin-right: 203px;
      }
    }

    &--rectangle-green {
      width: 64px;
      height: 64px;
    }

    &--5 {
      margin: 0;

      line-height: 100%;

      @include onTablet {
        margin-left: 6.45%;
      }

      @include onLaptop {
        margin-left: 144px;
      }
    }

    &--ellipse1 {
      width: 180px;
      height: 180px;
    }
  }
}
