.header {
  display: flex;
  align-items: center;
  height: 60px;

  @include onNotebook {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    background-color: #fff;
    z-index: 3;
  }
}
