.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 870px;

  position: relative;

  &__gradient {
    background: linear-gradient(180deg, rgba(242, 249, 255, 0.12), #f2f9ff);
    height: 100%;
    width: 100%;
  }

  &__heading {
    @include heading;
  }

  &__description {
    color: $color-content;
    font-family: "Halyard Text", sans-serif;
    font-size: 18px;
    line-height: 0;
    text-align: center;
    overflow-wrap: break-word;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    padding-top: 46px;

    &-buy {
      @include colored-button;
    }

    &-features {
      margin-left: 22px;
      @include white-button;
    }
  }

  &__graphic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
  }

  @media (max-width: $tablet-screen) {

    &__gradient {
      height: 750px;
    }

    &__graphic {
      top: 35%;
      transform: scale(0.8);
    }
  }

  @media (min-width: $mobile-screen) and (max-width: 800px) {
    height: max-content;

    &__gradient {
      background: #fff;
      height: max-content;
      padding-bottom: 20px;
    }

    &__graphic {
      display: none;
    }
  }

  @media (max-width: 500px) {
    &__heading {
      font-size: 40px;
    }
  }
}
