.icons-list {
  display: flex;

  padding-left: 0;

  &__item {
    list-style: none;
    padding-right: 20px;
  }

  &__item:last-child {
    padding-right: 0;
  }

  &__link {
    @include description;
    padding-top: 0;
  }
}
