.logos {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 80px;

  &__description {
    color: $color-content;
    font-family: "Halyard Text", sans-serif;
    opacity: 0.5;
    padding-top: 30px;
    text-align: center;
  }

  &__toggler {
    cursor: pointer;
    display: none;
    padding: 20px 40px;
    width: 80%;
    text-align: center;

    &-image {
      height: 20px;
      width: 20px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;

    padding: 30px;
  }

  &__list-item {
    padding-right: 72px;
    text-align: center;
    transition: transform 0.2s linear;
  }

  &__list-item:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &__list-item:last-child {
    padding-right: 0;
  }

  @media (max-width: $notebook-screen) {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;
    }

    &__list-item {
      padding-right: 0;
    }
  }

  @media (max-width: $tablet-screen) {
    padding-top: 0;

    &__description {
      padding-top: 0;
    }

    &__list {
      grid-template-columns: 1fr 1fr;
      justify-content: center;
    }
  }

  @media (max-width: 500px) {
    &__description {
      padding-top: 20px;
    }

    &__list {
      display: none;
      flex-direction: column;
      align-items: center;
    }

    &__toggler {
      display: block;
    }
  }
}
