.section-1 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include Mobile {
    align-items: center;
  }

  &__images {
    height: 34px;
    margin-bottom: 153px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include Mobile {
      height: auto;
      margin-bottom: 48px;
      justify-content: center;
    }

    @include Notebook {
      margin: 0 80px 153px;
    }

    &__image {

      @include Mobile {
        padding: 0;
        margin: 10px 20px;
      }
    }
  }

  &__gradient {
    background: linear-gradient(180deg, #f2f9ff 12%, #f2f9ff 100%);
    height: 878px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @include Mobile {
      height: 768px;
    }
  }

  &__title {
    margin-top: 146px;
    font-family: Halyard Display, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 105%;
    text-align: center;
    color: #1e266d;

    @include Mobile {
      font-size: 36px;
      margin-top: 90px;
    }
  }

  &__sub-title {
    margin-top: 27px;
    margin-bottom: 29px;
    font-family: Halyard Text, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #455880;

    @include Mobile {
      font-size: 15px;
      margin-bottom: 80px;
    }

    &__half-transparent {
      opacity: 0.5;
      margin-bottom: 46px;

      @include Mobile {
        margin-top: 0;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;

    @include Mobile {
      flex-direction: column;
      width: 70%;
    }

    &__button-blue {
      background-color: #3751ff;
      color: #fff;
      width: 148px;
      height: 50px;
      border-radius: 100px;
      border-color: transparent;
      margin-right: 22px;
      font-size: 16px;

      @include Mobile {
        width: 100%;
      }
    }

    &__button-white {
      border-color: transparent;
      background-color: #fff;
      color: #455880;
      width: 148px;
      height: 50px;
      border-radius: 100px;
      font-size: 16px;
      box-shadow: 0 2px 2px rgba(56, 35, 35, 0.1);

      @include Mobile {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
      }
    }
  }

  &__picture {
    height: 585px;
    width: 977px;
    margin: 0 auto;
    object-fit: fill;

    @include Mobile {
      height: 176px;
      width: 293px;
    }
  }
}
