.response {
  height: 467px;
  padding: 38px 43px 32px;
  border: 1px solid rgba(69, 88, 128, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @extend %text;
  line-height: 180%;
  

  &__person {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    width: 286px;
    height: 211px;
    margin-bottom: 39px;
  }

  &__avatar {
    width: 64px;
    height: 64px;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    margin-bottom: 23px;
    background-position: center;

    @for $i from 1 through 3 {
      &_#{$i} {
        background-image: url("/images/avatars/avatar_#{$i}.svg");
      }
    }
  }

  &__name {
    @extend %h3;
  }
}
