.about {
  position: relative;

  height: 1420px;

  text-align: center;

  background-color: #f0f2f6;

  &__content {
    width: 1000px;
    margin: 0 auto;
  }

  &__logo {
    margin-top: 50px;
  }

  &__top {
    padding-top: 150px;

    color: rgba(69, 88, 128, 0.5);
    line-height: 27px;
  }

  &__title {
    white-space: pre-line;
    font-weight: 500;
    font-size: 48px;
    color: $color-title;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .about {
    height: 1280px;

    &__content {
      width: 100%;
    }
    
    &__top {
      margin: 5px 15px;
      padding-top: 30px;
    }

    &__title {
      padding-bottom: 50px;

      font-size: 38px;
    }
  }
}
