.about {
  display: flex;
  flex-direction: column;

  &__header {
    height: 120px;
    margin-top: 150px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 48px;
    line-height: 1.2;
  }

  &__content {
    display: flex;
  }

  &__block {
    height: 800px;
    margin: 30px 0;
    flex-basis: 50%;

    &:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__image {
    height: 744px;
    background-image: url("../images/about-image.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: cover;
  }

  &__item {
    position: relative;
    max-width: 405px;
    height: 190px;
    margin: 15px auto;
    padding-left: 100px;

    &:first-child,
    &:nth-child(2) {
      border-bottom: 1px solid rgba(69, 88, 128, 0.2);
    }
  }

  &__topic {
    font-size: 22px;
  }

  &__text {
    margin-top: 20px;
    font-size: 18px;
  }

  &__figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 58px;
    height: 58px;
  }
}

@media screen and (max-width: 1024px) {
  .about {
    &__header {
      height: auto;
      margin-top: 100px;
      margin-bottom: 0;
      font-size: 42px;
    }

    &__content {
      flex-direction: column;
      margin: auto;
    }

    &__block {
      max-width: 500px;
      height: auto;
      
      &:first-child {
        margin-bottom: 40px;
      }
    }

    &__image {
      height: 580px;
    }

  }
}

@media screen and (max-width: 768px) {
  .about {
    &__header {
      margin-top: 90px;
      font-size: 36px;
    }

    &__item {
      height: 150px;
    }

    &__topic {
      font-size: 18px;
    }
  
    &__text {
      margin-top: 10px;
      font-size: 14px;
    }

    &__block {
      max-width: 400px;
      flex-basis: 0;
    }

  }
}

@media screen and (max-width: 480px) {
  .about {
    &__block {
      max-width: 360px;
    }

    &__image {
      height: 480px;
    }

    &__header {
      margin-top: 70px;
      font-size: $header-text-min-media;
    }

    &__text {
      font-size: 12px;
    }
  }
}
