@import "blocks/container";
@import "blocks/page";
@import "blocks/header";
@import "blocks/nav-page.scss";

@import "blocks/top-menu";
@import "blocks/button";

@import "blocks/design";
@import "blocks/graphic";
@import "blocks/trusted";
@import "blocks/about";
@import "blocks/portfolio";

@import "blocks/testimonials";

@import "blocks/cta";
@import "blocks/footer";
@import "blocks/social";