@import "utils/vars";

.button {
  width: 113px;
  height: 40px;
  border-style: none;
  border-radius: 20px;

  background-color: $button-color;

  color: white;

  transition: box-shadow 0.4s;

  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 7px 1px rgba(0,0,0,0.75);
  }

  &__contact-us {
    color: white;

    text-decoration: none;
    line-height: 40px;
  }
}
