@import "utils/vars";

.button {
  width: 113px;
  height: 40px;
  border-style: none;
  border-radius: 20px;
  outline: none;

  background-color: $button-color;

  color: $button-white-color;

  transition: box-shadow 0.4s;

  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 7px 1px $box-shadow-color;
  }

  &__contact-us {
    color: $button-white-color;

    text-decoration: none;
    line-height: 40px;
  }
}
