.cta {
  height: 323px;
  background-color: #3751ff;
  color: white;

  &__content {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }

  &__title {
    text-align: left;
    white-space: pre-line;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 150px;
  }

  &__button {
    width: 245px;
    height: 56px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    color: #455880;
    font-size: 18px;
    font-weight: 500;
    line-height: 110%;
    text-align: end;
    padding-right: 25px;
    cursor: pointer;
    transition: box-shadow $transition-duration;

    &--img {
      padding-right: 15px;
    }
    
    &:hover > &--img {
      animation-duration: 1s;
      animation-name: slidein;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &:hover {
      box-shadow: 0 0 3px 2px mediumblue;
    }

    &--text {
      font-size: 16px;
      line-height: 125%;
      color: #dfe0eb;
    }
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .cta {
    height: 400px;

    &__content {
      flex-direction: column;
      height: 300px;
      padding: 0 15px;
    }

    &__title {
      font-size: 32px;
      margin-bottom: 0;
      line-height: 30px;
    }
  }
}
