@import "utils/vars";

.examples {

  height: 261px;
  width: 212px;

  @media screen and (max-width: 1200px) {
    display: none;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__item {
    text-decoration: none;
    line-height: 35px;
    color: $regular-text-color;
    transition: color 0.5s;

    &:hover {
      color: $hover-text-color;
    }
  }
}
