@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Halyard Display";
  src: url("../fonts/Halyard/Halyard\ Display\ Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Halyard Text";
  src: url("../fonts/Halyard/Halyard\ Display\ Medium\ Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
