@font-face {
  font-family: "Halyard Text";
  src: url("//db.onlinewebfonts.com/t/89248b0583721153668df86453b579de.woff") format("woff");
}

@font-face {
  font-family: "Halyard Display";
  src: url("//db.onlinewebfonts.com/t/c4d8819fda4c3fd79e36cedcc8d422bb.woff") format("woff");
}
