@font-face {
  font-family: "Halyard Text Regular";
  src: url("../fonts/Halyard/Halyard Text Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Halyard Text Medium";
  src: url("../fonts/Halyard/Halyard Text Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Halyard Text SemiBold";
  src: url("../fonts/Halyard/Halyard Text SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
