@font-face {
  font-family: "Halyard Text";
  src: url("../fonts/Halyard/Halyard\ Text\ Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Halyard Display";
  src: url("../fonts/Halyard/Halyard\ Display\ Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
