@font-face {
  font-family: "Halyard Display";
  src: url("../fonts/Halyard/Halyard\ Display\ Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Halyard Text";
  src: url("../fonts/Halyard/Halyard\ Text\ Book\ Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
