.footer {
  display: flex;
  width: 100%;
  height: 420px;
  flex-direction: column;
  align-items: center;

  background-color: #fff;

  &__top {
    display: flex;
    width: 1000px;
    justify-content: space-around;
    margin-top: 80px;
    padding-bottom: 50px;

    border-bottom: 1px solid $color-border;
  }

  &__bottom {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin-top: 50px;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .footer {
    height: 900px;
    text-align: center;
    

    &__top {
      width: 100%;
      flex-direction: column;
      margin-top: 30px;
    }

    &__bottom {
      width: 100%;
      flex-direction: column;
      margin: 0 auto;
    }
  }
}
