@import "utils/vars";

.footer {
  height: 660px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1200px) {
    padding: 0 80px;
  }

  &__container {
    width: 1180px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-top: 128px;
    margin-bottom: 53px;
    height: 337px;
    border-bottom: 1px solid rgba(135, 146, 161, 0.08);

    @media screen and (max-width: 710px) {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;

      height: 360px;
    }
  }

  &__digits-logo {
    height: 23px;
    width: 67px;
    margin-bottom: 32px;

    @media screen and (max-width: 710px) {
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }

  &__digits-text {
    color: $regular-text-color;
    font-size: 18px;
    line-height: 145%;
    white-space: pre-line;
    margin-right: 208px;

    @media screen and (max-width: 1200px) {
      margin-right: 50px;
    }

    @media screen and (max-width: 710px) {
      margin: 0 0 50px;
    }
  }

  &__resources {
    margin-left: 40px;
  }

  &__bottom {
    max-width: 1180px;
    margin: 0 auto;

    @media screen and (max-width: 710px) {
      transform: scale(0.9);
    }
  }

  &__bottom-container {
    display: flex;
    justify-content: space-between;

  }

  &__copyright {
    font-size: 14px;
    color: rgba(69, 88, 128, 0.5);
  }

  &__copyright-link {
    text-decoration: none;
    color: rgba(69, 88, 128, 0.5);
  }

  &__terms {
    width: 255px;
    display: flex;
    justify-content: space-between;
  }

  &__terms-link {
    text-decoration: none;
    color: $regular-text-color;
  }
}
