.header {
  position: relative;
  width: 100%;
  height: 80px;

  background: white;
  border-bottom: 2px solid $color-title;

  &__content {
    width: 1100px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;

    line-height: 80px;
  }

  &__logo {
    color: $color-title;
    font-size: 31px;

    & span {
      color: #ff2e6a;
      font-weight: 700;
    }
    
  }

  &__contact {
    color: $color-title;
    font-size: 16px;

    transition: color $transition-duration / 2,
      transform $transition-duration / 2,
      text-shadow $transition-duration / 2;

    &:hover {
      color: rgb(0, 100, 147);

      border-bottom: 1px solid  $color-title;
      text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.38);

      transform: scale(1.2);
    }
  }

  &__button {
    padding: 5px 15px;
    margin-left: 20px;

    color: white;
    
    border: 2px solid $color-button;
    border-radius: 100px;
    background-color: $color-button;
    
    transition: box-shadow 700ms;

    &:hover {
      box-shadow: 0 0 3px 3px blue;
    }
  }
}

@media screen and (max-width: $small-screen-breakpoint + 100) {
  .header {
    
    &__content {
      width: 95%;
    }
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .header {
    height: 570px;
    text-align: center;

    &__content {
      flex-direction: column;
      width: 100%;
    }
  }

}
