.header {
  background: white;
  width: 100%;
  position: relative;
  height: 80px;
  border-bottom: 2px solid #1e266d;
  flex-wrap: nowrap;

  &__content {
    width: 1100px;
    display: flex;
    justify-content: space-around;
    line-height: 80px;
    margin: 0 auto;
  }

  &__logo {
    color: $color-title;
    font-size: 31px;

    &--el {
      color: #ff2e6a;
    }
    
  }

  &__contact {
    color: #1e266d;
    font-size: 16px;

    &:hover {
      border-bottom: 1px solid  #1e266d;
    }
  }

  &__button {
    padding: 5px 15px;
    margin-left: 20px;
    border: 2px solid $color-button;
    border-radius: 100px;
    background-color: $color-button;
    color: white;
    transition: box-shadow 700ms;

    &:hover {
      box-shadow: 0 0 3px 3px blue;
    }
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .header {
    height: 550px;
    text-align: center;

    &__content {
      flex-direction: column;
      width: 100%;
    }
  }

}
