.home {
  width: 100%;
  position: relative;
  height: 878px;
  text-align: center;
  background: linear-gradient(180deg, rgba(242, 249, 255, 0.12));

  &__title {
    margin-top: 144px;

    &--head {
      font-size: 56px;
      height: 118px;
      line-height: 105%;
      color: $color-title;
      font-weight: 500;
    }

    &--text {
      height: 27px;
      font-size: 18px;
      line-height: 150%;
      color: #455880;
      margin-bottom: 50px;
    }
  }

  &__button {
    text-align: center;

    &--buy {
      align-self: center;
      background-color: #3751ff;
      color: white;
      border-radius: 25px;
      width: 150px;
      height: 50px;
      margin-right: 40px;
      border: 0;
      transition: all 700ms;

      &:hover {
        background-color: white;
        color: black;
        box-shadow: 0 0 3px 3px  #3751ff;
      }
    }

    &--see {
      align-self: center;

      background-color: #fff;
      border-radius: 25px;
      width: 150px;
      height: 50px;
      border: 0;
      transition: all 700ms;

      &:hover {
        background-color: #3751ff;
        color: white;
        box-shadow: 0 0 3px 3px  #3751ff;
      }
    }
  }

  &__img {
    margin-top: 130px;
    
    &--size {
      width: 950px;
    }
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .home {
    height: 100%;
    
    &__title {
      margin-top: 60px;

      &--head {
        font-size: 31px;
        height: 60px;
      }
    }

    &__button {
      display: flex;
      flex-direction: column;
      
      &--buy {
        margin: 10px 0;
      }
    }

    &__img {
      margin-top: 50px;
      
      &--size {
        width: 100%;
      }
    }
  }
}
