.logo {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0;
  width: 1100px;

  &__img {
    width: 102px;
    height: 38px;
    transition: transform $transition-duration;

    &:hover {
      transform: scale(1.2);
    }
  }

}

@media screen and (max-width: $small-screen-breakpoint) {
  .logo {
    width: 250px;
    flex-wrap: wrap;
    margin: 30px auto;

    &__img {
      width: 150px;
      margin: 15px auto;
    }
  }
}
