@import "utils/vars";

.mailing {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    justify-content: space-between;

    width: 1200px;

    @media screen and (max-width: $first-break-point) {
      padding: 0 40px;
    }

    @media screen and (max-width: 900px) {
      flex-direction: column;
      justify-content: start;
      text-align: center;

      margin-top: 30px;
    }
  }

  &__title-container {
    align-self: center;

    height: 144px;

    @media screen and (max-width: $fourth-break-point) {
      height: 120px;
    }
  }

  &__title {
    display: inline-block;

    width: 368px;

    color: $text-white-color;
    line-height: 1.25;

    @media screen and (max-width: $fourth-break-point) {
      width: 268px;

      font-size: 32px;
    }
  }

  &__feedback {
    align-self: center;
    position: relative;
    align-items: flex-end;

    height: 100px;
  }

  &__button {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;

    padding-left: 6px;
    width: 245px;
    height: 56px;
    border-radius: 28px;

    &:hover {
      box-shadow: 0 3px 8px 1px $box-shadow-color;
    }

    &--white {
      background-color: $background-white-color;

      color: $regular-text-color;
    }

    @media screen and (max-width: $fourth-break-point) {
      position: relative;

      transform: scale(0.9);
    }
  }

  &__button-icon {
    padding: 0 17px;
  }

  &__text {
    padding-top: 75px;

    color: $mailing-text-color;

    @media screen and (max-width: $fourth-break-point) {
      padding-top: 15px;
    }
  }

  &__link {
    color: $hover-text-color;
    text-decoration: none;

    transition: color 0.5s;

    &:hover {
      color: $hover-pink-color;
    }
  }
}
