.nav {

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    color: $color-text-hard;

    @include hover(color, $color-text-hover);
  }

  &__item:nth-child(3) {
    &::after {
      content: "";
      border: solid #1e266d;
      border-width: 0 3px 3px 0;
      border-radius: 2px;
      display: inline-block;
      position: relative;
      left: 110%;
      bottom: 50%;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    &__item:not(:last-child) {
      margin-right: 20px;
    }

    &__link {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    &__item:not(:last-child) {
      margin-right: 10px;
    }

    &__link {
      font-size: 12px;
    }
  }
}
