.nav {
  width: 603px;
  
  &__item {
    font-size: 16px;
    width: 100px;
    color: $color-title;
    font-weight: 700;
    transition: color $transition-duration / 2,
      transform $transition-duration / 2,
      text-shadow $transition-duration / 2;

    &--active::after {
      content: "";
      position: relative;
      border: solid $color-title;
      border-width: 0 3px 3px 0;
      border-radius: 2px;
      display: inline-block;
      left: 7px;
      bottom: 2px;
      padding: 3px;
      transform: rotate(45deg);
    }

    &:hover {
      color: rgb(0, 100, 147);
      transform: scale(1.2);
      text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.38);
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    list-style: none;
    line-height: 80px;
    
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .nav {
    width: 100%;
    
    &__item {
      height: 53px;
    }
    
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }
}
