@import "utils/vars";
@import "fonts";

.navigation {
  display: flex;
  align-items: center;
 

  @media (max-width: 1200px) {
    justify-content: space-between;
    width: calc(100% - 95px);
  }

  &__logo {
    margin-right: 80px;

    @media (max-width: 600px) {
      margin-right: 10px;
    }
  }

  /*------------------------------------------burger menu----*/

  // &__toggler {
  //   display: none;

  // &:checked ~ .navigation__toggler-label::after {
  //   content: "X";
  // }
  // }

  // &__toggler-label {
  //   display: none;
  //   padding: 20px;

  //   @media (max-width: 1200px) {
  //     display: inline-block;
  //     cursor: pointer;
  //   }
  // }

  // &__toggler-icon {
  //   height: 20px;
  //   width: 20px;
  /*------------------------------------------burger menu----*/
  //   @media (min-width: 1201px) { //youtube
  //     display: none;
  //   }
  // }

  &__list {
    display: flex;
    align-items: center;

    @media (max-width: 1200px) { //youtube
      display: none;
    }
  }
  
  &__item {
    margin: 0 22px;
    font-size: 16px;
    color: $titles-text-color;

    &--active {
      &::after {
        content: "";
        border: solid $titles-text-color;
        border-width: 0 3px 3px 0;
        border-radius: 2px;
        display: inline-block;
        position: relative;
        left: 10px;
        bottom: 2px;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
}
