.page {
  background-color: #f0f2f6;

  &__header {
    margin: 30px auto;
  }

  &__testimonials {
    margin-top: 200px;
    margin-bottom: 150px;
  }

  &__mailto {
    background-color: #3751ff;
  }
}

@media screen and (max-width: 1024px) {
  .page__testimonials {
    margin-top: 120px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .page__testimonials {
    margin-top: 80px;
    margin-bottom: 60px;
  }
}
