@import "utils/vars";

.partners-logos {
  display: flex;
  justify-content: space-between;
  padding: 0 210px;

  &__netflix {
    background-image: url("/images/logos/netflix.svg");
    height: 34px;
    width: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__drawkit {
    background-image: url("/images/logos/drawkit.svg");
    height: 33px;
    width: 95px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__figma {
    background-image: url("/images/logos/figma.svg");
    height: 34px;
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__cinemax {
    background-image: url("/images/logos/cinemax.svg");
    height: 33px;
    width: 174px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__stripe {
    background-image: url("/images/logos/stripe.svg");
    height: 33px;
    width: 115px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__google {
    background-image: url("/images/logos/google.svg");
    height: 34px;
    width: 102px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__disney {
    background-image: url("/images/logos/disney.svg");
    height: 34px;
    width: 72px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
