@import "utils/vars";

.people {
  // padding: 0 210px;

  height: 583px;

  &__title {
    text-align: center;
    margin-top: 232px;
    margin-bottom: 56px;
    line-height: 1;

    @media (max-width: 800px) {
      font-size: 30px;
    }
  }

  &__reviews {
    justify-content: center;
  }
}
