.portfolio {
  width: 100%;
  height: 885px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  background-color: $color-background;

  &__title {
    margin-top: 80px;

    color: $color-title;
    font-size: 48px;
    line-height: 60px;
    font-weight: 500;
  }

  &__text {
    white-space: pre-line;
    font-size: 21px;
    line-height: 150%;
    color: $color-text;
  }

  &__button {
    width: 148px;
    height: 50px;
    padding: 15px 0;

    color: white;
    font-size: 16px;

    background-color: $color-button;
    border-radius: 100px;
    border: 0;

    transition: background-color $transition-duration,
      color $transition-duration,
      box-shadow $transition-duration;
    
    cursor: pointer;

    &:hover {
      color: black;
      
      background-color: white;
      box-shadow: 0 0 3px 3px  $color-button;
    }
  }

  &__img {
    max-width: 95%;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .portfolio {
    width: 100%;
    flex-direction: column;
    height: 375px;
    padding: 0 10px;

    &__title {
      margin-top: 30px;

      font-size: 36px;
      line-height: 40px;
    }

    &__text {
      font-size: 16px;
    }

    &__img {
      display: none;
    }
  }
}
