.portfolio {
  width: 100%;
  height: 1000px;
  background-color: #fff9ea;
  background-image: url("../images/potfolio_background-image.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;

  &__header {
    padding-top: 100px;
    font-size: 48px;
    text-align: center;
  }

  &__text {
    margin-top: 40px;
    font-size: 21px;
    text-align: center;
  }

  &__link {
    display: block;
    width: 150px;
    padding: 10px;
    margin: 40px auto 0;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio {
    height: 800px;

    &__header {
      font-size: 42px;
    }

    &__text {
      font-size: 19px;
    }
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    height: 700px;

    &__header {
      padding-top: 80px;
      font-size: 36px;
    }

    &__text {
      margin-top: 20px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 480px) {
  .portfolio {
    height: 500px;

    &__header {
      padding: 60px 20px 0;
      font-size: $header-text-min-media;
    }

    &__text {
      font-size: 12px;
    }
  }
}
