@import "utils/vars";

.reviews {
  display: grid;
  grid-template-columns: repeat(3, 373px);
  gap: 26px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 373px);
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(1, 373px);
  }

  @media screen and (max-width: 450px) {
    grid-template-columns: repeat(1, 318px);
    gap: 10px;
    justify-items: center;
  }
}
