@import "utils/vars";

.review {
  position: relative;
  height: 467px;
  width: 373px;

  border: 1px solid rgba(69, 88, 128, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 450px) {
    transform: scale(0.85);
  }

  &__text {
    padding: 38px 42px;
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 180%;
    color: $regular-text-color;
  }

  &__photo {
    width: 63px;
    height: 64px;
    position: absolute;
    bottom: 115px;
    left: calc(50% - 32px);
  }

  &__title {
    position: absolute;
    bottom: 64px;
    left: calc(50% - 52px);
  }

  &__link {
    position: absolute;
    bottom: 32px;
    left: calc(50% - 44px);
    text-decoration: none;
    color: $regular-text-color;
  }
}
