@import "utils/vars";

.reviews {
  display: grid;
  grid-template-columns: repeat(3, 373px);
  gap: 26px;

  @media screen and (max-width: $first-break-point) {
    grid-template-columns: repeat(2, 373px);
  }

  @media screen and (max-width: $second-break-point) {
    grid-template-columns: repeat(1, 373px);
  }
}
