@import "utils/vars";

.section {
  &__good-design {
    margin-bottom: 160px;
  }

  &__whatever {
    margin-bottom: 150px;
  }

  &__people {
    margin: 0 auto 150px;
  }

  &__mailing {
    height: 323px;
    background-color: $button-color;
  }
}
