.testimonials {
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 370px));
  grid-template-rows: 110px 460px;
  justify-content: space-between;
  gap: 20px;

  &__header {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    align-self: center;
    
    font-size: 48px;
    line-height: 60px;
  }

  &__card {
    padding: 30px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-items: center;

    border: 1px solid rgba(69, 88, 128, 0.2);
    border-radius: 4px;

    transition: box-shadow $transition-time;

    &:hover {
      box-shadow: 10px 10px 12px 1px rgba(37,79,107,1);
    }
  }
}

@media screen and (max-width: 1024px) {
  .testimonials {
    grid-template-columns: repeat(3, minmax(220px, 370px));
    grid-template-rows: 110px repeat(2, 460px);
    justify-content: space-evenly;
  
    &__header {
      grid-column-start: 1;
      grid-column-end: 4;
      
      font-size: 42px;
      line-height: 45px;
    }
  
  }
}

@media screen and (max-width: 768px) {
  .testimonials {
    grid-template-columns: minmax(220px, 370px);
    grid-template-rows: 110px repeat(3, 460px);
    justify-content: space-evenly;
  
    &__header {
      grid-column-start: 1;
      grid-column-end: 2;
      
      font-size: 36px;
      line-height: 36px;
    }
  
    &__card {
      padding: 15px;
    }
  }
}

@media screen and (max-width: 480px) {
  .testimonials {
    &__header {
      font-size: $header-text-min-media;
    }

    &__text {
      font-size: 14px;
    }
  }
}
