.title {
  
  &__head {
    height: 118px;
    width: 550px;
    margin: 0 auto;

    font-size: 56px;
    line-height: 105%;
    color: $color-title;
    font-weight: 500;
  }

  &__text {
    height: 27px;
    margin-bottom: 50px;

    font-size: 18px;
    line-height: 150%;
    color: #455880;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .title {

    &__head {
      height: 60px;
      width: 100%;

      font-size: 31px;
    }
  }
}
