@import "utils/vars";

.whatever {

  &__title {
    text-align: center;
    line-height: 1;

    @media (max-width: 600px) {
      font-size: 30px;
    }
  }

  &__blocks {
    display: flex;
    justify-content: center;
  }

  &__collage {
    margin-right: 168px;

    @media (max-width: 1200px) {
      transform: scale(0.7);
      margin-right: 50px;
    }

    @media (max-width: 900px) {
      display: none;
    }
  }

  &__cards {
    margin-top: 122px;

    @media (max-width: 1200px) {
      transform: scale(0.9);
    }

    @media (max-width: 600px) {
      transform: scale(0.75);
      margin-top: 50px;
    }
  }
}
