@import "utils/vars";

.whatever {

  &__title {
    display: inline-block;
    margin: 0 calc(50% - 250px);
    text-align: center;

    width: 500px;

    line-height: 1;

    @media screen and (max-width: $fourth-break-point) {
      font-size: 30px;
      width: 300px;
      margin: 0 calc(50% - 150px);
    }
  }

  &__blocks {
    display: flex;
    justify-content: center;
  }

  &__collage {
    margin-right: 168px;

    @media screen and (max-width: $first-break-point) {
      margin-right: 50px;

      transform: scale(0.7);
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__cards {
    margin-top: 122px;

    @media screen and (max-width: $first-break-point) {
      transform: scale(0.9);
    }

    @media screen and (max-width: $fourth-break-point) {
      margin-top: 50px;
      margin-left: 50px;
      transform: scale(0.75);
    }
  }
}
