@keyframes text-blink {
  50% {
    color: transparent;
  }
}

@keyframes button-stripe {
  40% {
    transform: rotate(22deg) translateX(300px);
  }

  100% {
    transform: rotate(22deg) translateX(300px);
  }
}
