.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
  height: 50px;

  @include font(16px, 40px);
  color: #fff;
  background-color: $bright-blue;
  border-radius: 30px;
  
  @include hover(box-shadow, 0 0 10px 2px
  rgba($color: $dark-blue, $alpha: 0.3));

  &--striped {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:before {
      position: absolute;
      z-index: -1;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: radial-gradient($bright-blue, $dark-blue);
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover:before {
      opacity: 1;
    }
  
    &:after {
      position: absolute;
      content: "";
      left: -10%;
      width: 2px;
      height: 100px;
      transform: rotate(22deg);
      background-color: #fff;
      box-shadow: 0 0 3px 4px #fff;
      animation: button-stripe 5s linear infinite;
    }
  }

  &--light {
    background-color: #fff;
    color: $muddy-blue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    &:before,
    &:after {
      display: none;
    }
  }

  &--small {
    height: 40px;
  }

  &--mail {
    border: 3px solid transparent;
    @include hover(border-color, $dark-blue);
  }
}
