.design {
  background: linear-gradient(180deg,
  rgba(242, 249, 255, 0.12) 0%,
  #f2f9ff 100%);
  padding-top: 146px;
  @include Mobile {
    padding-top: 20px;
    height: 570px;
  }
  @include SmallPhone {
    height: 530px;
  }
  @include Tablet {
    padding-top: 28px;
    height: 580px;
  }
  @include Notebook {
    height: 870px;
  }
  @include TheDesign {
    height: 1100px;
  }
  @include FullHD {
    height: 1100px;
  }
  @include LargeScreens {
    height: 1100px;
  }
}

.desing__image_container {
  content: "";
  background-image: url(/images/design/browser_image.png);
  background-size: cover;
  width: 260px;
  height: 200px;
  margin: 0 auto;
  @include Mobile {
    margin-top: 20px;
    width: 260px;
    height: 200px;
  }
  @include Tablet {
    width: 1024px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px auto;
  }

  @include Notebook {
    width: 1280px;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px auto;
  }
  @include TheDesign {
    width: 1600px;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 68px auto;
  }
  @include FullHD {
    width: 1600px;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 80px auto;
  }
  @include LargeScreens {
    width: 1600px;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 100px auto;
  }
}

.design__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.design__title {
  font-family: Halyard Display, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 105%;
  /* or 59px */

  text-align: center;

  color: $darkBlue;
  margin: 0;
  @include Mobile {
    width: 320px;
  }
}

.design__phrase {
  font-family: Halyard Text, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  text-align: center;

  color: $lightBlue;

  padding-top: 27px;
}

.design__browser {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;

  &_person {
    position: absolute;
    width: 533px;
    height: 533px;
    left: 340px;
    top: 15px;
  }

  &_upper_block {
    position: absolute;
    width: 374px;
    height: 48px;
    margin-top: 38px;
    margin-left: 57px;
  }

  &_chat1 {
    position: absolute;
    width: 172px;
    height: 73px;
    margin-top: 157px;
    margin-left: 83px;

    background: #dfe0eb;
  }

  &_chat2 {
    position: absolute;
    width: 172px;
    height: 73px;
    margin-top: 274px;
    margin-left: 213px;

    background: #dfe0eb;
  }

  &_smiley {
    position: absolute;
    width: 399px;
    height: 28px;
    left: 57px;
    top: 418px;

    background: #dfe0eb;
    border-radius: 8px;
  }

  &_portrait {
    position: absolute;
    width: 56px;
    height: 60px;
    left: -40px;
    top: 121px;
    background-color: black;
  }

  &_ellipse {
    position: absolute;
    width: 179px;
    height: 179px;
    left: -95px;
    top: 261px;
  }
}

.browser__top {
  display: flex;
  align-items: center;
  width: 720px;
  height: 32px;

  background: #bdc2d5;
  border-radius: 18px 18px 0 0;
}

.circles {
  display: flex;
  padding-left: 17px;
}

.browser__top-circle {
  width: 8px;
  height: 8px;

  background: $white;
  border-radius: 5px;
  margin-right: 6px;
}

.browser__body {
  width: 719px;
  height: 500px;
  left: 457px;
  top: 545px;

  background: $white;
  box-shadow: 0 4px 4px rgba(135, 146, 161, 0.08);
  border-radius: 18px;
}

.design__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 29px;
  margin: 0 auto;
}

.design__button {
  width: 199px;
  @include Mobile {
    width: 120px;
  }
  @include Tablet {
    width: 199px;
  }
  @include TheDesign {
    width: 148px;
  }
}

.design__link {
  font-family: Halyard Text, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  width: 199px;
  height: 40px;
  /* identical to box height, or 312% */

  text-align: center;

  color: $lightBlue;

  background: $white;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;

  @include Mobile {
    width: 120px;
    padding-left: 0;
    font-size: 12px;
  }
  &:hover {
    transform: scale(1.1);
    box-shadow: 5px 9px 18px #2060f6;
  }
}
