.examples {
  background-color: #fff9ea;
  text-align: center;
  padding-top: 100px;

  &__header {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 40px;

    color: #1e266d;
  }

  &__paragraph {
 
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 150%;
    max-width: 375px;
    margin: 0 auto;
    color: #455880;
    margin-bottom: 40px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #3751ff;
    border-radius: 100px;
    width: 150px;
    height: 50px;
    margin: 40px auto;
    max-width: 100%;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__image-wrapper {
    
    max-height: 550px;
    background-repeat: no-repeat ;
    background-size: contain;
    max-width: 100%;
  }

  @media (max-width: 450px) {
    padding-top: 40px;

    &__header {
      font-size: 38px;
      line-height: 45px;
      margin-bottom: 20px;
      color: #1e266d;
    }
  }
  
  @media (max-width: 250px) {
    padding-top: 15px;

    &__header {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 20px;
      color: #1e266d;
    }

    &__paragraph {
      font-size: 17px;
      line-height: 120%;
      margin-bottom: 20px;
    }
  }
}
