.header {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #fff, $alpha: 0.9);
  box-shadow: 0 0 10px 1px rgba($color: #777, $alpha: 0.2);

  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: $header-height;

    @include for-1080 {
      min-height: $header-height-min;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1015px;
    width: 100%;

    @include for-1080 {
      position: fixed;
      right: -101%;
      top: $header-height-min;
      flex-direction: column;
      padding: 30px 0;
      width: 270px;
      backdrop-filter: blur(4px);
      background-color: rgba($color: #fff, $alpha: 0.9);
      box-shadow: 0 3px 3px 1px rgba($color: #777, $alpha: 0.2);
      transition: right 0.3s;
    }
  }

  &__right--active {
    right: 0;
  }

  &__logo {
    margin-right: 72px;
    margin-bottom: 8px;
  }

  &__nav {
    margin-right: 30px;

    @include for-1080 {
      flex-direction: column;
      margin-right: 0;
      width: 100%;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;

    @include for-1080 {
      flex-direction: column;
      padding-top: 20px;
      width: 100%;
      border-top: 1px solid $bright-blue;
    }
  }

  &__tel {
    margin-right: 34px;
    padding: 9px 0;
    @include link-hover;

    @include for-1080 {
      margin-right: 0;
      margin-bottom: 10px;
      width: 100%;
      text-align: center;
    }

    &:before {
      @include for-1080 {
        height: 100%;
        background-color: $bright-blue;
      }
    }
    &:hover:before {
      @include for-1080 {
        width: 10px;
      }
    }
  }

  &__burger {
    display: none;

    @include for-1080 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: $container-padding-destop;

      display: flex;
      align-items: center;
      width: 34px;
      height: 34px;
      cursor: pointer;
    }
  }

  &__burger-stripe {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: $dark-blue;
    box-shadow: 0 7px 0, 0 -7px 0;
    transition: box-shadow 0.3s;
  }

  &__burger--active &__burger-stripe {
    box-shadow: 0 5px 0, 0 -5px 0;
  }
}
