$colorWhite: #fff;
$headersTextColor: #1e266d;
$pinkColor: pink;
$mainColor: lightblue;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 60px;
  padding: 0 5%;

  &__logo {
    height: 25px;

    @media (max-width: 730px) {
      height: 30px;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;

    .contacts__number {
      color: black;
      transition: color 0.3s;
    }

    .contacts__number:hover {
      color: pink;
    }
    
    .contacts__button {
      color: #fff;
      text-align: center;
      padding: 7px;
      margin-left: 30px;
      width: 113px;
      height: 40px;
      background-color: $backgroundButton;
      border-radius: 100px;
      transition: background-color 0.3s;
    }

    .contacts__button:hover {
      background-color: #fff;
      color: $darkBlueFont;
    }
  }

  @media (max-width: 1000px) {
    .contacts__number {
      display: none;
    }

    .contacts__button {
      width: 80px;
      height: 35px;
      font-size: 12px;
      padding: 7px;
    }
  }

  @media (max-width: 400px) {
    .contacts__button {
      display: none;
    }
  }
  
  @media (max-width: 400px) {
    .header__logo {
      display: none;
    }
  }
}
