.intro {
  padding-top: 146px;
  background-image: linear-gradient(180deg,
  rgba(242, 249, 255, 0.12) 0%, #f2f9ff 100%);
  background-size: 100% 878px;

  @include for-960 {
    padding-top: 80px;
    background-size: 100%;
  }

  &__title {
    margin: 0 auto 27px;
    max-width: 550px;
    @extend %h1;
    text-align: center;
  }
  
  &__sub-title {
    margin-bottom: 27px;
    @extend .content-text;
    text-align: center;
    line-height: 1.5;
    color: $muddy-blue;
  }
  
  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;

    @include for-540 {
      flex-direction: column;
      margin: 0 auto;
      max-width: 260px;
    }

  }

  &__button {
    margin: 0 11px;
    padding: 0 40px;

    @include for-540 {
      margin-bottom: 20px;
    }
  }

  &__pic {
    display: flex;
    justify-content: center;
  }

  &__bg-img {
    max-width: 100%;
    height: auto;
  }
}
