.launch {
  background: #3751ff;
  height: 323px;
  margin-top: 150px;

  &__title {
    color: white;
    text-align: start;
  }

  &__button {
    background-color: white;
    color: #455880;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    padding: 17px 40px 17px 70px;
    position: relative;

    &:before {
      content: url(../images/mail.svg);
      display: block;
      position: absolute;
      left: 26px;
      top: 13px;
    }
  }

  &__right {
    max-width: 100%;
    text-align: right;
  }
}

.section__launch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button__text {
  font-family: "Halyard Text", sans-serif;
  font-size: 16px;
  line-height: 125%;
  color: #dfe0eb;
  margin-top: 20px;
  text-align: right;
}

@media screen and (max-width: 740px) {
  .section__launch {
    flex-direction: column;
    justify-content: center;
  }

  .launch__right {
    width: 388px;
    margin-top: 30px;
    text-align: center;
  }
  .button__text {
    text-align: center;
  }
  
  .launch__title {
    text-align: center;
  }
}
