.logo {
  @include font(31px, 1);
  font-family: $font-med;
  font-weight: 700;
  @include hover(color, $pink);

  &--footer {
    font-size: 26px;
  }

  &__dots {
    color: $pink;
    animation: text-blink 2s linear infinite;
  }
}
