@import "utils";
@import "fonts";
@import "typography";
@import "reset";

@import "button";
@import "card";
@import "logo";

@import "header";
@import "nav";
@import "intro";
@import "partners";
@import "help";
@import "design";
@import "comments";
@import "subscribe";
@import "footer";

.container {
  margin: 0 auto;
  padding: 0 $container-padding-destop;
  max-width: 1220px;
}
