@import "utils/reset";
@import "utils/variables";
@import "utils/palette";
@import "utils/fonts";

* {
  box-sizing: border-box;
}

html {
  font-family: "Halyard Display", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $H-color;
}

body {
  margin: 0;
}

@import "blocks/block-digits-navigation.scss";
@import "blocks/block_good-design.scss";
@import "blocks/block_main.scss";
@import "blocks/block_we-help.scss";
@import "blocks/block_simplicity.scss";
@import "blocks/block_feedback.scss";
@import "blocks/block_launch-website.scss";
// @import "blocks/block_footer.scss";
