@import "utils";
@import "fonts";
@import "typography";

@import "header.scss";
@import "design.scss";
@import "trusted.scss";
@import "whatever.scss";
@import "simplicity.scss";
@import "others.scss";
@import "footer.scss";
@import "fonts.scss";
@import "page.scss";
@import "utils/mixins";

body {
  background: $c-gray;
  margin: 0;
  padding: 0;
  @include Mobile {
    width: 320px;
  }
}

ul {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
