@import "utils";
@import "typography";
@import "header";
@import "nav";
@import "home";
@import "about";
@import "logo";
@import "info";
@import "portfolio";
@import "testimonials";
@import "person";
@import "cta";
@import "footer";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $c-gray;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  outline: none;
}

@keyframes slidein {
  from {
    margin-left: 15px;
  }
  to {
    margin-right: 15px;
  }
}
