.nav {

  &__list {
    display: flex;

    @include for-1080 {
      flex-direction: column;
    }
  }

  &__item {
    margin-right: 37px;

    @include for-1080 {
      margin-right: 0;
    }
  }

  &__item:last-of-type {
    margin-right: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 10px;
    @include font(16px, 20px);
    @include link-hover;

    @include for-1080 {
      justify-content: center;
    }
  }
}
