.services {
  display: block;
  
  &__header {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #1e266d;
  }

  &__image {
    display: block;
    max-width: 40%;
    height: auto;
    flex-shrink: 2;
  }

  &__main {
    display: flex;
    justify-content: space-around;
    flex-shrink: 2;
    height: auto;
    margin-top: 100px;

  }

  &__text {
    margin-left: 50px;
    margin-bottom: 30px;
  }

  &__article {
    display: flex;
    border-bottom: 1px solid rgba(69, 88, 128, 0.2);
    margin-bottom: 30px;
  }

  &__article:last-child {
    border-bottom: none;
  }

  &__artHeader {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 125%;
    color: #13266d;
    margin-bottom: 30px;
  }

  &__paragraph {
    max-width: 250px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #455880;
  }

  &__icon {
    height: 58px;
    width: 58px;
  }

  @media (max-width: 860px) {
    &__main {
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }

    &__image {
      max-width: 60%;
      margin-bottom: 40px;
    }

    &__header {
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 40px;
      max-width: 400px;
    }
  }

  @media (max-width: 400px) {
    &__text {
      margin-left: 20px;
      margin-bottom: 30px;
    }
  }
}
