$color-accent-blue: #1e266d;
$color-button: #3751ff;
$color-content: #455880;

$font-nav: "Halyard Text", sans-serif;

$large-screen: 2560px;
$fullhd-sreen: 1920px;
$design-screen: 1600px;
$notebook-screen: 1280px;
$tablet-screen: 1024px;
$mobile-screen: 320px;

@mixin colored-button {
  background-color: $color-button;
  border: none;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  font-family: $font-nav;
  font-size: 16px;
  padding: 10px 16px;
  text-decoration: none;
}

@mixin white-button {
  background-color: #fff;
  border: none;
  border-radius: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  color: $color-content;
  cursor: pointer;
  font-family: $font-nav;
  font-size: 16px;
  padding: 10px 16px;
  text-decoration: none;
}
