@import "utils/vars";

%h1 {
  font-family: "Halyard Display", sans-serif;
  font-weight: 600;
  font-size: 56px;
  color: $titles-text-color;
}

%h2 {
  font-family: "Halyard Display", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: $titles-text-color;
}

%h3 {
  font-family: "Halyard Display", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: $titles-text-color;
}
