@font-face {
  font-family: "Halyard Display";
  src: url("/src/fonts/Halyard/Halyard_Display_Black.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Halyard Display";
  src: url("/src/fonts/Halyard/Halyard_Display_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Halyard Display";
  src: url("/src/fonts/Halyard/Halyard\ Display\ SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Halyard Display";
  src: url("/src/fonts/Halyard/Halyard\ Display\ Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Halyard Display";
  src: url("/src/fonts/Halyard/Halyard\ Display\ Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Halyard Display";
  src: url("/src/fonts/Halyard/Halyard\ Display\ Book.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Halyard Text";
  src: url("/src/fonts/Halyard/Halyard\ Text\ SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Halyard Text";
  src: url("/src/fonts/Halyard/Halyard\ Text\ Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Halyard Text";
  src: url("/src/fonts/Halyard/Halyard\ Text\ Book\ Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
