@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin heading {
  width: fit-content;
  font-family: "Halyard Display", sans-serif;
  text-align: center;
  color: $heading-color;
}

@mixin pseudobutton {
  border-radius: $pseudobtn-border-rds;
  text-align: center;
  border: 2px solid transparent;
  transition: border-color 350ms, background-color 350ms, color 350ms;


  &:hover {
    border-color: $special_color;
    background-color: #fff;
    color: $special_color;
  }
}

@mixin pseudobutton-blue {
  @include pseudobutton;
  color: #fff;
  background-color: $special_color;
}

@mixin pseudobutton-white {
  @include pseudobutton;
  color: $regular_color;
  background-color: #fff;
}
