@mixin colored-button {
  background-color: $color-button;
  border: none;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  font-family: $font-nav;
  font-size: 16px;
  padding: 10px 16px;
  text-decoration: none;
}

@mixin white-button {
  background-color: #fff;
  border: none;
  border-radius: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  color: $color-content;
  cursor: pointer;
  font-family: $font-nav;
  font-size: 16px;
  padding: 10px 16px;
  text-decoration: none;
}

@mixin heading {
  color: $color-accent-blue;
  font-family: "Halyard Display", sans-serif;
  font-size: 56px;
  line-height: 59px;
  text-align: center;
}
