$color-accent-blue: #1e266d;
$color-button: #3751ff;
$color-content: #455880;
$color-border: #4558802f;

$font-nav: "Halyard Text", sans-serif;

$large-screen: 2560px;
$fullhd-sreen: 1920px;
$design-screen: 1600px;
$notebook-screen: 1280px;
$tablet-screen: 1024px;
$mobile-screen: 320px;
