$button-color: #3751ff;
$button-white-color:  white;

$titles-text-color: #1e266d;
$regular-text-color: #455880;
$hover-text-color: #fed385;
$text-white-color: white;
$hover-pink-color:  #ee85a3;
$mailing-text-color: #dfe0eb;

$background-white-color: white;
$background-simplcity-color: #fff9ea;

$first-break-point: 1200px;
$header-break-point: 1100px;
$second-break-point: 800px;
$third-break-point: 710px;
$fourth-break-point: 600px;

$copyright-color: rgba(69, 88, 128, 0.5);

$box-shadow-color: rgba(0, 0, 0, 0.1);
