$c-gray: #eee;

$color-button: #3751ff;
$color-title: #1e266d;
$color-text: #455880;
$color-text-second:  rgba(69, 88, 128, 0.5);
$color-box-shadow: rgba(0, 0, 0, 0.05);
$color-background:  #fff9ea;
$color-background-second: #f0f2f6;
$color-hover: rgb(0, 100, 147);
$color-text-block: #dfe0eb;
$color-border: rgba(135, 146, 161, 0.08);
$color-space: #ff2e6a;
$color-gradient: linear-gradient(180deg, rgba(242, 249, 255, 0.12));

$small-screen-breakpoint: 999px;
$midle-screen-breakpoint: 500px;
$transition-duration: 700ms;
