$light-pink: #fff9ea;
$light-grey: #dfe0eb;
$dark-blue: #1e266d;
$muddy-blue: #455880;
$bright-blue: #3751ff;
$pink: #ff2e6a;
$cream: #fff9ea;

$font-reg: "Halyard Text Regular";
$font-med: "Halyard Text Medium";
$font-semi: "Halyard Text SemiBold";

$header-height: 80px;
$header-height-min: 50px;

$container-padding-destop: 20px;
